@import url("../11-resources/main.css"); /* Using a url */

h1, h3{
	display: block;
	padding-top: 8rem;
	padding-left: 10rem;
	color: #64bb48;
}

h3 {
	padding-top: 3rem !important;
}

.bio p {
	display: block;
	margin-bottom: 2rem;
	margin-top: 1rem;
	margin-left: 10rem;
	margin-right: 10rem;
	color: black;
}

.bio, p, h1{
	display: block;
}

.bio ul {
	margin-top: 1rem;
	margin-left: 10rem;
	list-style-type: disc;
}


.bio img{

  width: 20%;
  border-radius: 15px 15px 15px 15px;
  transition: width .5s;
  padding: 5px;
}

.bio {
	background-color: white;
	margin-left: 10rem;
	margin-right: 10rem;
	padding-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}

body {
	background: radial-gradient(#65af66, #429496);
}